:host([variant="filled"]) {
  .container {
    box-shadow: none;
    border-radius: 8px 8px 0 0;
  }

  .wrapper {
    transition: all 0.3s ease;
  }

  .label {
    background-color: transparent;
  }
}

.bottom-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--md-sys-color-neutral);
}

:host([variant="filled"][focus]),
:host([variant="filled"][hang-label]) {
  .wrapper {
    padding-top: var(--field-container-padding-top, 4px);
  }

  .label {
    top: 0px;
    left: -6px;
    padding: 0;
    color: var(--md-sys-color-primary);
  }

  .bottom-line {
    height: 2px;
    background-color: var(--md-sys-color-primary);
  }
}
