:host([variant="filled"]) p-stylization {
  box-shadow: none;
  border-radius: 8px 8px 0 0;
  background-color: var(--neutral-color-container);
}
:host([variant="filled"]) .wrapper {
  transition: all 0.3s ease;
}
:host([variant="filled"]) .label {
  background-color: transparent;
}
.bottom-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--neutral-color);
}
:host([variant="filled"][focus]) .bottom-line {
  height: 2px;
  background-color: var(--main-color);
}
:host([variant="filled"][focus]) .wrapper,
:host([variant="filled"][hang-label]) .wrapper {
  padding-top: var(--field-container-padding-top, 4px);
}
:host([variant="filled"][focus]) .label,
:host([variant="filled"][hang-label]) .label {
  top: 0px;
  left: -6px;
  padding: 0;
  color: var(--main-color);
}
