html {
  --pui-normal-color: #383838;
  --pui-normal-font-color: #fff;
  --pui-primary-color: #0079d0;
  --pui-primary-font-color: #fff;
  --pui-danger-color: #d32f2f;
  --pui-danger-font-color: #fff;
  --pui-border-radius: 5px;
  --pui-padding-x: 18px;
  --pui-padding-y: 5.5px;
}
html.dark {
  --pui-normal-color: #cfcfcf;
  --pui-normal-font-color: #000;
  --pui-primary-color: #8ccbf8;
  --pui-primary-font-color: #000;
  --pui-danger-color: #fb4747;
}
