@import url(./colors.css);
@import url(./theme.css);

body {
  --pui-theme-inited: yes;
}

html {
  /* 横向的间距 */
  --pui-space-x: 6px;
  /* 纵向的标准间距 */
  --pui-space-y: 4px;
  /* 普通风格 */
  --pui-border-radius: 4px;
  /* 变成圆角风格 */
  /* --pui-border-radius: 30px; */

  --contained-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  --contained-hover-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
    rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
  --contained-active-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 2px 0px, rgba(0, 0, 0, 0.2) 0px 0 9px inset;

  -webkit-tap-highlight-color: transparent;

  --pui-main-color: var(--md-sys-color-primary);
  --pui-on-main-color: var(--md-sys-color-on-primary);
  --pui-main-color-container: var(--md-sys-color-primary-container);
  --pui-on-main-color-container: var(--md-sys-color-on-primary-container);
  --pui-main-hover-color: var(--md-ref-palette-translucent-primary60);
}

html[pui-theme] {
  color: var(--md-sys-color-on-surface);
  background-color: var(--md-sys-color-surface);
}

body {
  font: 400 1em/1.8 -apple-system, BlinkMacSystemFont, Segoe UI, Microsoft Yahei,
    Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}
