body {
  --pui-color-normal: #383838;
  --pui-color-primary: #0079d0;
  --pui-color-dark-primary: #8ecbf8;
  --pui-color-danger: #d32f2f;
  --pui-border-radius: 5px;
  --pui-padding-x: 18px;
  --pui-padding-y: 5.5px;
}
