p-card h1,
p-card h2,
p-card h3,
p-card h4,
p-card h5 {
  font-weight: 500;
  line-height: 1.4em;
  color: var(--md-sys-color-on-normal-container);
}
p-card h1 {
  font-size: 36px;
}
p-card h2 {
  font-size: 30px;
}
p-card h3 {
  font-size: 24px;
}
p-card h4 {
  font-size: 18px;
}
p-card h5 {
  font-size: 16px;
}
p-card h1,
p-card h2,
p-card h3,
p-card h4,
p-card h5,
p-card p {
  padding: 0;
  margin: calc(var(--pui-space-y) * 2) calc(var(--pui-space-x) * 2) 0;
}
p-card > h1:first-child,
p-card > h2:first-child,
p-card > h3:first-child,
p-card > h4:first-child,
p-card > h5:first-child,
p-card > p:first-child {
  margin-top: calc(var(--pui-space-y) * 4);
}
p-card > h1:last-child,
p-card > h2:last-child,
p-card > h3:last-child,
p-card > h4:last-child,
p-card > h5:last-child,
p-card > p:last-child {
  margin-bottom: calc(var(--pui-space-y) * 4);
}
p-card [card-pic] {
  border-radius: var(--card-border-raduis);
}
